.divtab {
  margin-top: 50px;
  background-color: #fe4c1c;

  /* padding: ; */
}

.textstyle {
  color: white;
}
.divtab0 {
  text-align: start;
}
.textx {
  font-size: large;
}
.textx0 {
  margin-top: 30px;
}
.span {
  font-weight: 500;
}
.imagetab {
  padding-top: 50px;
  padding-bottom: 50px;
}
.imaages {
  width: -webkit-fill-available;
}
/* chart2 css start here///////////////////////////////////////////////////////////////////////////////// */
.images {
  width: -webkit-fill-available;

  height: 170px;
}
.divtab00 {
  background-color: #f0f2f5;
  padding-top: 15px;
  border-radius: 7px;
}
.divtab000 {
  padding-bottom: 15px;
}
.text000 {
  padding-top: 10px;
  padding-bottom: 20px;
}
.li {
  padding-top: 5px;
}
.divimage {
  background-color: white;
}
.textmy {
  font-weight: 700;
}
